{
  "extends": ["airbnb-base", "prettier", "plugin:react/recommended"],
  "plugins": ["prettier", "react"],
  "env": {
    "browser": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "prettier/prettier": "error"
  },
  "globals": {
    "Application": true,
    "delay": true
  }
}
