# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

functions/lib

# dependencies
node_modules
/.pnp
.pnp.js
.firebase
*.log
~*

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.*

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
.env
