@font-face {
  font-family: 'Adobe Hebrew';
  font-style: italic;
  src: url('./fonts/AdobeHebrewBoldItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Adobe Hebrew';
  src: url('./fonts/AdobeHebrewRegular.otf') format('opentype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.firebase-emulator-warning {
  display: none;
}

.reveal:not(.embedded) {
  height: 100vh !important;
}
.reveal .slides > section {
  height: 100%;
}

.sentry-error-embed-wrapper {
  z-index: 10000 !important;
}
