@font-face {
  font-family: 'Adobe Hebrew';
  font-style: italic;
  src: url('./fonts/AdobeHebrewBoldItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Adobe Hebrew';
  src: url('./fonts/AdobeHebrewRegular.otf') format('opentype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
